@model LatchTalk.Models.TotpAuthenticatorViewModel
@{
    ViewBag.Title = "EnableTotpAuthenticator";
}

<h2>Enable Totp Authenticator</h2>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("EnableTotpAuthenticator", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            @Html.HiddenFor(m => m.SecretKey)
            @Html.HiddenFor(m => m.BarcodeUrl)
            @Html.HiddenFor(m => m.BarcodeBase64Image)
            <div class="form-group">
                @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", autocomplete = "off" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Enable" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        Secret key: <span>@Model.SecretKey</span>
        <img src="data:image/bmp;base64,@(Model.BarcodeBase64Image)" />
    </div>
</div>
